body {
  background-color: #141414;
}

@font-face {
    font-family: 'vollkorn';
    src: url("./font/Vollkorn-Black.eot");
}
html, body {
    font-family: 'vollkorn', sans-serif; /*Specify your font name here*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* selektiert das dropdownmenu */
.dropdown-menu {
    background-color: #742435;
}
preload{ display: none; }

.navbar {
    background-color: #742435;
}

.dropdown-item {
    color :white;
}

