{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<h1 class="text-center pt-5" style="color:white;">Thank you for taking the time visit my first website</h1>
<div class="container-fluid p-5 align-items-center">
    <div class="row align-items-center">
        <div class="col">



            <a href="/norway"> <img src="static/lofoten/lofoten6.jpg" class="card-img-top" alt="essen"> </a>

        </div>

    <div class="col">
        <a href="/japan"> <img src="static/japan/japan (16).jpg" class="card-img-top" alt="essen"> </a>

    </div>

    <div class="col">
        <a href="/china"> <img src="static/guilin/shenzhen.jpg" class="card-img-top" alt="essen"> </a>
    </div>
    </div>
</div>


{% endblock %}