{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<div class="container-fluid p-5 align-items-center">
    <div class="row align-items-center">
        <div class="col">
            <font color="white"> Norway</font>


            <a href="/japan.html"> <img src="static/pano-min.jpg" class="card-img-top" alt="essen"> </a>

        </div>

    <div class="col">
        <a href="/norway.html"> <img src="static/lofoten-min.jpg" class="card-img-top" alt="essen"> </a>

    </div>

    <div class="col">
        <a href="/china.html"> <img src="static/pano-min.jpg" class="card-img-top" alt="essen"> </a>
    </div>
    </div>
</div>


{% endblock %}